<html>
<body>

    <h3> No encontramos tu usuario, por favor verifica estar escribiendo bien tu mail y/o contraseña </h3>

    <div class="back-login">
        <a asp-action="Login">Volver al login</a>
    </div>


    <h4> Si no estas registrado, primero registrate y despues podras acceder a nuestra pagina </h4>

    <div class="back-login">
        <a asp-action="Create">Registrarme</a>
    </div>
</body>
</html>



