@model TopAutos.Models.Usuario

@{ ViewData["Title"] = "Iniciar sesion"; }



<div class="wrapper-register">
    <div class="box-register">

        <h2>Iniciar sesion</h2>

        <form class="form-login" asp-action="Login">

            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Clave" class="control-label">Password</label>
                <input asp-for="Clave" class="form-control" required />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-rojo" />
            </div>

        </form>

        <div class="back-login">
            <a asp-action="Create">Registrarme</a>
        </div>

    </div>
</div>